<!DOCTYPE html>
  <head>
    <title>Mussel</title>
  </head>
  <body>
    <h1>Video Request</h1>
    <form action="" method="POST">
      <div>
        <label for="times">times</label>
        <input type="text" id="times" name="times" placeholder="how many times have you visited">
        <h1></h1>

        <label for="River">River</label>
        <input type="text" id="River" name="River">
        <h1></h1>

        <label for="date">Date</label>
        <input type="text" id="date" name="date" placeholder="mm/dd/yy">
        <h1></h1>

        <label for="tStarted">Time Started</label>
        <input type="text" id="TimeStarted" name="TimeStarted">
        <h1></h1>

        <label for="species">Species</label>
        <input type="text" id="Species" name="Species" placeholder="name">
        <h1></h1>

        <label for="tagColor">Tag Color</label>
        <input type="text" id="Tag Color" name="Tag Color" placeholder="color">
        <h1></h1>

        <label for="tagNum">Tag</label>
        <input type="text" id="Tag" name="Tag" placeholder="#">
        <h1></h1>

        <label for="newOrRecapture">New/ Recapture</label>
        <input type="text" id="NewRecapture" name="NewRecapture">
        <h1></h1>

        <label for="surfaceOrSubsurface">Surface/ Subsurface</label>
        <input type="text" id="SurfaceSubsurface" name="SurfaceSubsurface">
        <h1></h1>

        <label for="Measurement">Measurement</label>
        <input type="text" id="Measurement" name="Measurement" placeholder="mm">
        <h1></h1>

        <label for="Sex">Sex</label>
        <input type="text" id="Sex" name="Sex" placeholder="M/F">
        <h1></h1>

        <label for="spines">Spines</label>
        <input type="text" id="Spines" name="Spines">
        <h1></h1>

        <label for="BrianOK">Brian OK</label>
        <input type="text" id="BrianOK" name="BrianOK">
      </div>
      <div>
        <label for="request">Notes</label>
        <textarea name="request" id="Notes" name="Notes" cols="30" rows="10"></textarea>
      </div>
      
      <button type="submit">Submit</button>
    </form>
  </body>
</html>